@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="category">
		<label class="title" style="white-space: pre-line;">3D Models &amp; Texturing,
			Level Design, Programming</label>
		<label class="byline">alxl</label>
	</div>
	<div class="category">
		<label class="title">Original Music</label>
		<label class="byline">Pteam Pterodactyl</label>
	</div>
	<div class="category">
		<label class="title">CC0 SFX</label>
		<label class="byline">Kenney Vleugels (kenney.nl)</label>
	</div>
	<div class="category">
		<label class="title">CC0 Textures</label>
		<label class="byline">Lennart Demes (ambientCG.com)</label>
		<label class="byline">Ozgen Karagol Arslan &amp; M. Tolga Arslan
 (sharetextures.com)</label>
	</div>
	<div class="category">
		<label class="byline">made in 3 weeks for the s&amp;box summer 2024 game jam</label>
	</div>
</root>
