HUD {
	width: 100%;
	height: 100%;
	font-size: 48px;
	font-weight: bold;
	font-family: Poppins;
	color: #fff;
	text-shadow: -3px 3px 0 #000;

	.hud-alive {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.hud-dead {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #35000080;
	}

	.score-container {
		display: flex;
		flex-direction: row;
	}

	.score-box {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		margin-left: 25px;
		margin-right: 25px;
	}

	.score-label {
		margin-bottom: -10px;
	}

	.score-tally {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.rip {
		font-size: 128px;
	}

	.hidden {
		display: none;
	}
}