Instructions {
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-family: Poppins;
	color: #fff;
	display: flex;
	flex-direction: row;
	text-shadow: -1px 1px 0 #000;
	background-color: #00000080;
	border: #000;
	border-width: 5px;
	padding-bottom: 5px;

	label {
		width: 100%;
		text-align: center;
	}

	.category {
		display: flex;
		flex-direction: column;
	}

	.title {
		padding-top: 16px;
		font-size: 26px;
		line-height: 14px;
	}

	.hint {
		font-size: 12px;
		line-height: 14px;
		padding-top: 16px;
	}
}