@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="category">
		<label class="title">How To Fall Carelessly</label>
		<label class="hint">Get a BUMP for each new obstacle you get close to.</label>
		<label class="hint">Be fully &amp; tightly surrounded for a SQUEEZE.</label>
		<label class="hint">Continuously get SCRAPES by staying close to obstacles.</label>
	</div>
</root>
