@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<label class="title">PLEASE FALL</label>
	<label class="title">CAREFULLY</label>
	<label class="byline">a short game by alxl</label>
</root>

@code
{
	protected override int BuildHash() => 0;
}