{
  "Version": 2,
  "Mixers": {
    "Guid": "1a3b5229-4416-4ec5-ab27-52755ebe05ad",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Processors": [],
    "Children": [
      {
        "Guid": "53ed9147-f400-4332-b29b-b7065b43d0f0",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "b7bf26f8-f98e-4416-ab5e-eaa29b90482f",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "IsDefault": true,
        "Processors": [],
        "Children": [
          {
            "Guid": "dffc29a5-54bf-492c-9986-0cc901867534",
            "Name": "Impacts",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Processors": [],
            "Children": []
          }
        ]
      },
      {
        "Guid": "237a8211-99c1-4438-866d-dc585e3772f7",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": [
          {
            "Guid": "06d64704-5f02-4925-8ed2-269e78d5c87b",
            "Name": "Scoring",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Processors": [],
            "Children": []
          }
        ]
      }
    ]
  },
  "__guid": "3b0041e4-e0f1-4461-af77-282957f50f01",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}